.container {
    display: flex;
}

.first-content {
    background-image: url(first/Rectangle\ 3.png);
    width: 1440px;
    height: 863px;
}

@media screen and (max-width: 1024px) {
    .first-content {
        background-image: url(first/Rectangle\ 3.png);
        width: 1024px;
        height: 1024px;
    }
}

#first-content-icon {
    margin-left: 667px;
    margin-right: 667px;
}

@media screen and (max-width: 1024px) {
    #first-content-icon {
        margin-left: 50%;
        margin-right: 50%;
    }
}

.first-content-header {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 6px;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
}

#first-content-header2 {
    margin-left: 40px;
}

#first-content-header3 {
    margin-left: 40px;
}

#first-content-header4 {
    margin-left: 40px;
}

.second-content {
    margin-top: 730px;
    display: flex;
    margin-left: 0px;
}

@media screen and (max-width: 1024px) {
    .second-content {
        margin-top: 730px;
        display: flex;
        margin-left: 0px;
    }
}

.second-content-left {
    width: 35%;
}

@media screen and (max-width: 1024px) {
    .second-content-left {
        width: 35%;
        height: 35%;
    }
}

.second-content-right {
    background-color: #9CAB70;
    width: 927px;
    height: 450px;
    color: #FFFFFF;
    width: 65%;
}

@media screen and (max-width: 1024px) {
    .second-content-right {
        background-color: #9CAB70;
        width: 60%;
        height: 60%;
        color: #FFFFFF;
        width: 65%;
    }
}

.second-content-header {
    margin-top: 41px;
    margin-left: 383px;
    margin-right: 264px;
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
}

@media screen and (max-width: 1024px) {
    .second-content-header {
        font-family: 'Kaisei Decol';
        font-style: normal;
        font-weight: 700;
        font-size: 48px;
        line-height: 70px;
        margin-left: 5%;
    }
}

.second-content-des {
    margin-top: 27px;
    margin-right: 58px;
    margin-bottom: 139px;
    margin-left: 207px;
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 46px;
    text-align: center;

}

@media screen and (max-width: 1024px) {
    .second-content-des {
        margin-left: 7%;
        font-family: 'Kaisei Decol';
        font-style: normal;
        font-weight: 700;
        font-size: 32px;
        line-height: 46px;
        text-align: center;

    }
}

.third-content {
    Width: 1440px;
    Height: 800px;
    background-color: #EEEEEE;
    display: flex;
}

@media screen and (max-width: 1024px) {
    .third-content {
        Width: 1024px;
        Height: 100%;
        left: 0%;
        background-color: #EEEEEE;
        display:inline-flex;
    }

    .third-content-2{
        display: none;
    }

    .third-content-3{
        display: none;
    }

    .third-content-4{
        display: none;
    }

    .third-content-tittle{
        font-size: 20%;
        text-align: right;
    }
}



.third-content-1 {
    display: flex;
    flex-direction: column;
    width: 274px;
    height: 385px;
}




.third-content-tittle {
    Width: 588px;
    Height: 70px;
    margin-left: 426px;
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 700;
    font-size: 48px;
    line-height: 70px;
    color: #000000;
    text-align: center;

}




#thirdImage1 {
    margin-top: 64px;
    margin-left: 130px;

}

#thirdName1 {
    margin-top: 13px;
    margin-left: 180px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
}

#thirdtext1 {
    Width: 274px;
    Height: 143px;
    margin-left: 91px;
    margin-right: 91px;
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    margin-bottom: 131px;

}

.third-content-2 {
    display: flex;
    flex-direction: column;
    width: 274px;
    height: 385px;
}


#thirdImage2 {
    margin-top: 230px;
    margin-left: 170px;
}

#thirdName2 {
    margin-top: 13px;
    margin-left: 200px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 35px;
    color: #000000;
}

#thirdtext2 {
    width: 274px;
    height: 143px;
    margin-top: 4px;
    margin-left: 130px;
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    margin-bottom: 131px;
}

.third-content-3 {
    display: flex;
    flex-direction: column;
    width: 274px;
    height: 385px;
}

#thirdImage3 {
    margin-top: 230px;
    margin-left: 210px;
}

#thirdName3 {
    width: 108px;
    height: 35px;
    margin-top: 13px;
    margin-left: 260px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 800;
    font-size: 23px;
    line-height: 35px;
    color: #000000;

}

#thirdtext3 {
    margin-left: 170px;
    margin-top: 4px;
    width: 274px;
    height: 143px;
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    margin-bottom: 131px;
}

.third-content-4 {
    display: flex;
    flex-direction: column;
    width: 274px;
    height: 385px;
}

#thirdImage4 {
    margin-top: 230px;
    margin-left: 230px;
}

#thirdName4 {
    margin-top: 13px;
    margin-left: 290px;
    margin-right: 174px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 800;
    font-size: 24px;
    line-height: 35px;
    color: #000000;

}

#thirdtext4 {
    margin-top: 4px;
    margin-left: 190px;
    width: 274px;
    height: 143px;
    font-family: 'Kaisei Decol';
    font-style: normal;
    font-weight: 700;
    font-size: 16px;
    line-height: 23px;
    text-align: center;
    color: #000000;
    margin-bottom: 131px;
}

.forth-content {
    display: flex;
    justify-content: space-between;
    width: 1435px;
    height: 398px;
}
@media screen and (max-width: 1024px) {
    .forth-content {
        display: flex;
        justify-content: space-between;
        width: 1024px;
        height: 398px;
    }
}

.forth-content-left {
    width: 927px;
    height: 354px;
    margin-top: 42px;
    background: #9CAB70;
}

.forth-content-right {
    Width: 488px;
    Height: 355px;
    margin-top: 42px;
}

.forth-content-title {
    margin-left: 142px;
    width: 633px;
    height: 75px;
    text-align: center;
    margin-bottom: 16px;
    margin-top: 26px;
    font-family: 'Italiana';
    font-style: normal;
    font-weight: 400;
    font-size: 64px;
    line-height: 75px;
    text-align: center;
    color: #FFFFFF;
}

.forth-content-des {
    text-align: center;
    width: 654px;
    height: 103px;
    margin-left: 121px;
    Font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;

}

.contact {
    margin-left: 361px;
    margin-top: 40px;
    width: 227px;
    height: 57px;
    background: rgba(255, 255, 255, 0.8);
    border: 2px solid #68763F;
    border-radius: 20px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    color: #383F26;

}

.fifth-content {
    margin-top: 37px;
    width: 1435px;
    height: 598px;
    background: url(fith/Rectangle\ 10.png);
}

@media screen and (max-width: 1024px) {
    .fifth-content {
        width: 1024px;
        height: 100%;
        background: url(fith/Rectangle\ 10.png);
        background-repeat: no-repeat;
    }
}


.fifth-content-contact-box {
    width: 607px;
    height: 603px;
    margin-left: 416px;
    background: #FAFAFA;

}

@media screen and (max-width: 1024px) {

    .fifth-content-contact-box {
        width: 60%;
        height:60%;
        background: #FAFAFA;
        text-align: center;

    }
}

.fifth-content-title {
    position: absolute;
    margin-left: 216px;
    margin-top: 26px;
    text-align: center;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 40px;
    line-height: 58px;
    color: #000000;

}

.fifth-content-email {
    position: absolute;
    width: 515px;
    height: 56px;
    background: #FFFFFF;
    border: 4px solid #9CAB70;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-left: 46px;
    margin-top: 135px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: left;
}

.fifth-content-message {
    position: absolute;
    width: 515px;
    height: 135px;
    background: #FFFFFF;
    border: 4px solid #9CAB70;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 20px;
    margin-left: 46px;
    margin-top: 219px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: top;

}

.Send {
    position: absolute;
    width: 153px;
    height: 52px;
    background: #68763F;
    border: 4px solid #9CAB70;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 15px;
    margin-left: 408px;
    margin-top: 417px;
    font-family: 'Jost';
    font-style: normal;
    font-weight: 400;
    font-size: 32px;
    line-height: 46px;
    text-align: center;
    color: #FFFFFF;
}

.footer {
    width: 1440px;
    height: 250px;
    margin-top: 26px;
    margin-left: 456px;
}

.footer-icon {
    margin-left: 220px;
}

.footer-contact-icon {
    margin-top: 19px;
    width: 120px;
    height: 27px;
    margin-left: 200px;
    text-align: center;
}

#insta {
    margin-left: 25px;
}

#tw {
    margin-left: 25px;
}

.footer-bar {
    width: 597px;
    height: 39px;
    margin-top: 23px;
    display: flex;
    justify-content: space-around;
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    font-size: 32px;
    line-height: 39px;
    color: #9CAB70;
}